{% extends "base.html" %}

{% load management_extras %}

{% block title %}
Ledenlijst
{% endblock title %}
{% block content %}
<div class="col">
    <div class="row mb-3">
        <div class="col">
            <div class="row">
                <a type="button" class="btn btn-secondary" href="{% url
                    'management:nieuw_lid' %}">Nieuw Lid</a>
            </div>
        </div>
        <div class="col">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning">
                    <strong>{{message|safe}}</strong>
                </div>
                {% endfor %}
                {% else %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Kies CSV-bestand</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">Upload</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
        </div>
    </div>
    <table class="table table-hover table-sm table-responsive">
        <thead>
            <tr>
                {% for h in header %}
                <th scope="col"><small>{{ h }}</small></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for lid in lid_list %}
            <tr class="clickable" data-href="{% url 'management:lid' lid.club_id%}">
                {% for f in fields %}
                <td {% if not f is 'extra_informatie' %} nowrap {% endif %}>{{lid|get_attr:f }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock content %}