{% extends "base.html" %}
{% load reactor %}
{% block title %}
Ploegsamenstelling: {{object.naam}}
{% endblock title %}
{% block content %}
<div class="col">
    <div class="row">
        <h2 class="mb-4">Spelers</h2>
    </div>
    <div class="row mb-4">
        <a class="btn btn-secondary btn-sm" href="{% url 'management:ploeg_export_csv' object.ploeg_id %}">Exporteer naar CSV</a>
        <a class="btn btn-secondary btn-sm" href="{% url 'management:ploeg_export_xlsx' object.ploeg_id %}">Exporteer naar Excel</a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>Naam</th>
                <th>Email</th>
                <th>Gsm</th>
            </thead>
            {% for lid in ploegleden %}
                <tr>
                    <td>{{lid.voornaam}} {{lid.familienaam}}</td>
                    <td>{{lid.email}}</td>
                    <td>{{lid.gsmnummer}}</td>
                    <td>
                        <button type="button" class="view-lid btn btn-sm btn-primary" data-id="{% url 'management:lid_modal' lid.pk %}">
                            <span class="fa fa-eye"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <h2>Coach(es)</h2>
    </div>
    <div class="row">
        <table class="table mt-4">
            {% for coach in coaches %}
                <tr>
                    <td>{{coach.voornaam}} {{coach.familienaam}}</td>
                    <td>{{coach.email}}</td>
                    <td>{{coach.gsmnummer}}</td>
                    <td>
                        <button type="button" class="view-lid btn btn-sm btn-primary" data-id="{% url 'management:lid_modal' coach.pk %}">
                            <span class="fa fa-eye"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <h2>Afgevaardigde</h2>
    </div>
</div>
{% endblock %}

{% block modals %}
<div class="modal" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock %}

{% block customscripts %}
<script type="text/javascript">
  $(function () {
    // Read lid buttons
    $(".view-lid").each(function () {
        console.log("Testest");
        $(this).modalForm({formURL: $(this).data('id')});
    });
  });
</script>
{% endblock %}