{% load static %}
<nav class="navbar navbar-expand-lg py-3 navbar-dark" style="background-color: #000000;">
    <a class="navbar-brand" href="{% url 'management:index'%}">
      <img width=200 src="{% static "management/images/logo_header.png" %}" alt="My image"/>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'management:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'management:leden' %}">Leden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Ploegen</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#">Functies</a>
        </li>
      </ul>
    </div>
</nav>