<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'management:index'%}">LDP Donza</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'management:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'management:leden' %}">Leden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Ploegen</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#">Functies</a>
        </li>
      </ul>
    </div>
</nav>