<!-- Loading modal-->
<div id="loading" style="display:none">
    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pagina is aan het laden</h5>
                </div>
                <div class="modal-body">
                    <p>Deze pagina duurt een aantal seconden om te laden</p>
                </div>
            </div>
        </div>
    </div>
</div>