
<p>
    Beste {{voornaam}} {{familienaam}}
</p>
<p>
    Oprechte excuses voor het foutje in de vorige mail, hierbij de correcte mail.
</p>
<p>
    Er werd in uw naam een account aangemaakt op het controlepaneel van LDP Donza. Dit werd gedaan omdat
    u de rol van Ploegafgevaardigde/Coach opneemt bij onze club. Via dit paneel zult u toegang hebben
    tot de lidgegevens van uw ploeg in kwestie. Indien u al een account had op het paneel en uw
    wachtwoord reeds gewijzigd hebt, mag u deze mail negeren.
</p>
<p>
    <u>Gegevens:</u>
</p>
<ul>
    <li>username: {{username}}</li>
    <li>wachtwoord: {{wachtwoord}}</li>
</ul>
<p>
    Bij vragen, antwoord gewoon op deze mail.
</p>
<p>
    Met vriendelijke groeten,<br>
    Tim Van Erum<br>
    IT - LDP Donza
</p>