Beste speler, beste ouder<br><br>

In bijlage kan je de <b>betalingsbevestiging</b> vinden voor {{lid.voornaam}} {{lid.familienaam}}, van het lidgeld bij basketbalclub LDP Donza voor het seizoen {{seizoen.startdatum.year}}-{{seizoen.einddatum.year}}.<br><br>

Deze betalingsbevestiging kan je ook als attest gebruiken om een gedeeltelijke <b>terugbetaling bij je mutualiteit</b> te verkrijgen. Hiertoe vul je zelf je gegevens in op het formulier van je eigen ziekenfonds, je hecht onze betalingsbevestiging er aan vast met een nietje en je stuurt het geheel zo zelf door naar je ziekenfonds. Er is geen verdere tussenkomst van de cub nodig.<br><br>

Met vriendelijke groeten<br><br>

Secretariaat LDP Donza<br><br>