<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body class="container-fluid">
    <main role="main" class="flex-shrink-0">
        <div class="content container pt-5">
            <div class="row">
                <div class="col">
                    <p>
                        Beste Speler/Speelster<br>
                        Beste Ouder(s)
                    </p>
                    <p>Naar aanleiding van het starten van volgend seizoen, trachten wij ieder jaar te bepalen wat de
                        intenties en ambities zijn van onze spelers. Hierbij vragen wij jullie dus om het
                        intentiedocument <a
                            href="https://ldpdonza.be/nieuws/intenties-seizoen-2021-2022/">https://ldpdonza.be/nieuws/intenties-seizoen-2021-2022/</a>
                        in te vullen
                        zodat wij
                        kunnen beginnen bouwen aan de ploegen voor volgend jaar.
                    </p>
                    <p>
                        Vanwege de hele club een serieus hart onder de riem,
                    </p>
                    <footer>
                        <p>
                            <small>
                                B.B.C. LDP Donza V.Z.W.<br>
                                's Gravenstraat 130, 9810 Nazareth<br>
                                BE0464.016.722<br>
                                RPR Gent afdeling Gent<br>
                                info@ldpdonza.be - www.ldpdonza.be
                            </small>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </main>
</body>