<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body class="container-fluid">
    <main role="main" class="flex-shrink-0">
        <div class="content container pt-5">
            <div class="row">
                <div class="col">
                    <p>
                        Beste speler<br>
                        Beste ouders
                    </p>
                    <p>
                        Nu we jammer genoeg weten dat het competitieseizoen voor dit jaar eropzit, wil de sportieve cel
                        een begin maken met de voorbereiding van volgend seizoen. We hopen volgend seizoen terug als
                        speler te mogen begroeten en daarbij is het zeer belangrijk om uw intenties te kennen. Dit kan
                        door het formulier in deze link : <a
                            href="https://ldpdonza.be/nieuws/intenties-seizoen-2021-2022/">https://ldpdonza.be/nieuws/intenties-seizoen-2021-2022/</a>
                        in te vullen. Van hieruit zal de sportieve cel dan kunnen
                        bepalen hoeveel spelers er volgend seizoen zullen zijn en hoe de ploegen kunnen worden
                        ingedeeld.
                    </p>

                    <p>
                        We weten ook dat er dit seizoen niet veel gespeeld is en vanuit het bestuur zijn we aan het
                        bekijken om een regeling te treffen tot compensatie voor de jongeren die hun sport bijna niet
                        hebben kunnen beoefenen.<br>
                        Vooraleer we dit kunnen finaliseren moeten we weten voor dit seizoen vanaf wanneer we opnieuw
                        basket activiteiten kunnen organiseren. We wensen terug trainingen , vriendenwedstrijden /
                        tornooien aan te bieden en dit tot eind mei 2021 .
                    </p>

                    <p>
                        Van zodra we de positie van de overheden ( land / gewest/ gemeenten ) kennen, zullen we binnen
                        de Raad van Bestuur omtrent deze compensatie een beslissing nemen en deze meedelen.
                    </p>

                    <p>
                        We hopen dan ook dat jullie nu reeds het formulier voor de intenties naar volgend seizoen zullen
                        invullen zodat onze sportieve cel kan beginnen aan hun planning voor volgend seizoen en we met
                        volle moed opnieuw naar een normaal leven kunnen overstappen met de uitoefening van onze bij
                        uitstek favoriete sport .
                    </p>

                    <p>
                        Mogen wij vragen het formulier kortelings ingevuld terug te sturen
                    </p>

                    <p>
                        Hartelijk dank<br>
                        De Sportieve cel
                    </p>
                    <footer>
                        <p>
                            <small>
                                B.B.C. LDP Donza V.Z.W.<br>
                                's Gravenstraat 130, 9810 Nazareth<br>
                                BE0464.016.722<br>
                                RPR Gent afdeling Gent<br>
                                info@ldpdonza.be - www.ldpdonza.be
                            </small>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </main>
</body>