<!DOCTYPE html>
<head>
    <title>Intentiemail LDP Donza</title>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext'
          rel='stylesheet'
          type='text/css'/>
</head>
<body class="container-fluid">
    <main role="main" class="flex-shrink-0">
        <div class="content container pt-5">
            <div class="row">
                <div class="col">
                    <p>
                        Beste speler
                        <br/>
                        Beste ouders
                    </p>
                    <p>
                        De sportieve cel werkt volop aan de voorbereiding van het seizoen 2021-2022.
                        Wij hopen jullie volgend seizoen terug als speler/speelster te mogen begroeten en vinden het dan
                        ook belangrijk om jullie intenties te kennen.
                        Daarom vragen we om het formulier in deze link zo snel als mogelijk in te vullen:
                        <a href="https://ldpdonza.be/nieuws/intenties-seizoen-2021-2022/">https://ldpdonza.be/nieuws/intenties-seizoen-2021-2022/</a>.
                    </p>
                    <p>
                        Het bestuur bekijkt tevens om een regeling te treffen tot compensatie voor de jongeren die hun
                        sport bijna niet hebben kunnen beoefenen.
                        Van zodra mogelijk gaan we terug trainingen, vriendenwedstrijden en/of tornooien aanbieden en
                        dit tot eind mei 2021.
                        Vanaf het moment we de positie van de overheden ( land / gewest/ gemeenten ) kennen, zullen we
                        binnen de Raad van Bestuur omtrent deze compensatie een beslissing nemen en deze meedelen.
                    </p>
                    <p>Waarvoor hartelijk dank.</p>
                    <p>
                        De Sportieve Cel
                        <br/>
                        Koen, Quinten, Kris en Piet
                        <br/>
                    </p>
                    <footer>
                        <p>
                            <small>
                                B.B.C. LDP Donza V.Z.W.
                                <br/>
                                's Gravenstraat 130, 9810 Nazareth
                                <br/>
                                BE0464.016.722
                                <br/>
                                RPR Gent afdeling Gent
                                <br/>
                                info@ldpdonza.be - www.ldpdonza.be
                            </small>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </main>
</body>
