<!DOCTYPE HTML>
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <style>
        @page {
            @frame content_frame {
                left: 50pt;
                width: 512pt;
                top: 50pt;
                height: 692pt;
            }
        }
        .custom-image {
            height: 100px;
        }
    </style>
    <title>Betalingsbevestiging</title>
</head>
<body>
    <div class="center">
        <img class="custom-image"
             src="{% static 'management/images/logo.png' %}"
             alt="Logo LDP Donza"
             height="100"
             width="200"/>
        <h1>
            Betalingsbevestiging
            <br/>
            (Attest Inschrijvingsgeld  Sportvereniging)
        </h1>
    </div>
    <h2>Identificatiegegevens speler:</h2>
    <p>
        {{ lid.voornaam }} {{ lid.familienaam }}
        <br/>
        {{ lid.straatnaam_en_huisnummer }}, {{ lid.postcode }} {{ lid.gemeente }}
        <br/>
        Geboortedatum: {{ lid.geboortedatum.day }}-{{ lid.geboortedatum.month }}-{{ lid.geboortedatum.year }}
        <br/>
    </p>
    <h2>Gegevens organisatie</h2>
    <p>
        B.B.C. LDP Donza VZW
        <br/>
        's Gravenstraat 130
        <br/>
        9810 Nazareth
        <br/>
        RPR Gent 0464.016.722
        <br/>
        secretariaat@ldpdonza.be
    </p>
    <p>
        <strong>Activiteit:</strong> Basketbal, Seizoen {{ seizoen.startdatum.year }}-{{ seizoen.einddatum.year }}
        <br/>
        <strong>Periode van deelname:</strong> Van: {{ seizoen.startdatum.day }}-{{ seizoen.startdatum.month }}-{{ seizoen.startdatum.year }} - Tot: {{ seizoen.einddatum.day }}-{{ seizoen.einddatum.month }}-{{ seizoen.einddatum.year }}
        <br/>
        <strong>Betaald bedrag:</strong> € {{ betaling.origineel_bedrag }}
        <br/>
        <strong>Datum betaling:</strong> {{ datum_betaling }}
        <br/>
        <strong>Datum afgifte:</strong> {{ datum_afgifte.day }}-{{ datum_afgifte.month }}-{{ datum_afgifte.year }}
    </p>
    <p>
        Handtekening
        <br/>
        <img class="custom-image"
             src="{% static 'management/images/signature_pol.png' %}"
             alt="Signature.png"
             height="80"
             width="120"/>
        <br/>
        (Pol Lombaert - Financiën LDP Donza)
    </p>
</body>
