{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% block title %}
Betalingen
{% endblock title %}
{% block content %}
    <div class="col">
        <div class="row mb-3 justify-content-center">
            <h1>Betalingen</h1>
        </div>
        <div class="row mb-3 justify-content-center">
            <a class="btn btn-secondary" href="#mail-verstuurd">Ga naar openstaande betalingen</a>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="inputGroupFile02"/>
                        <label class="custom-file-label" for="inputGroupFile02">Betalingen inlezen</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" name="button" type="submit">Upload</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                {% for table in tables %}
                <hr/>
                <div class="row justify-content-center">
                    <h2 class="mb-4">{{table.title}}</h2>
                    {% render_table table 'django_tables2/semantic.html' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}