{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% block title %}
Ledenbeheer
{% endblock title %}
{% block content %}
    <div class="col">
        <div class="row mb-3 justify-content-center">
            <h1 class="title is-2">Ledenbeheer</h1>
        </div>
        <div class="row mb-3 pt-3 pb-3 border rounded">
            <div class="col-6">
                {% if filter %}
                    <form method="get" class="form" id="filter">
                        <div class="form-group row">
                            {% with field=filter.form.voornaam %}
                                <label class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                </div>
                            {% endwith %}
                        </div>
                        <div class="form-group row">
                            {% with field=filter.form.familienaam %}
                                <label class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                </div>
                            {% endwith %}
                        </div>
                        <div class="form-group row">
                            {% with field=filter.form.geboortedatum %}
                                <label class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                                <div class="col-sm-8 text-center">
                                        {{ field }}
                                </div>
                            {% endwith %}
                        </div>
                        <div class="form-group row">
                            {% with field=filter.form.actief_lid %}
                                <label class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                </div>
                            {% endwith %}
                        </div>
                        <!-- {% bootstrap_form filter.form layout='inline' %} -->
                        <button class="btn btn-block btn-primary" form="filter" action="submit">Filter Resultaten</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-6 float-right">
                <button type="submit" form="verwerk" class="btn btn-success btn-block mb-3" value="Genereer" name="genereer">Genereer Betalingen</button>
                <a type="button" class="btn btn-secondary btn-block mb-3" href="{% url 'management:nieuw_lid' %}">Nieuw Lid</a>
                <form class="mb-3" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" id="inputGroupFile02"/>
                            <label class="custom-file-label" for="inputGroupFile02">Kies CSV-bestand</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">Upload</button>
                        </div>
                    </div>
                </form>
                <button type="submit" form="verwerk" class="btn btn-danger btn-block mb-3" value="Verwijder" name="verwijder">Verwijder leden</button>
            </div>
        </div>
        <div class="row alert alert-secondary justify-content-center">
            <p>Voor meer informatie over een lid, klik op de rij.</p>
        </div>
        <div class="row justify-content-center">
            <form action="{% url 'management:verwerk_leden' %}" method="post" id="verwerk">
                {% csrf_token %}
                <div class="row">
                    {% render_table table 'django_tables2/semantic.html' %}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block customscripts %}
<script src="{% static 'management/js/toggle.js'%}"></script>
{% endblock %}