{% extends "base.html" %}
{% load bootstrap4 %}
{% load bulma_tags %}
{% load static %}
{% block content %}
    <div class="mb-5">
        <h1 class="title is-2">
            Bewerk Lid
            {% if form.voornaam.value and form.familienaam.value %}
                ({{ form.voornaam.value }} {{ form.familienaam.value }})
            {% endif %}
        </h1>
    </div>
    <form method="post" class="post-form">
        {% csrf_token %}
        <!-- Algemene informatie -->
        <div class="tile box is-ancestor">
            <div class="tile is-vertical is-12">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="mb-3">
                            <h4 class="title is-3">
                                <em class="fas fa-address-card"></em>
                                Algemene informatie
                                {% if lid %}
                                    <a class="btn btn-danger float-right"
                                       href="{% url 'management:verwijder_lid' lid.club_id %}">Verwijder lid</a>
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="tile is-horizontal">
                    <div class="tile is-parent is-vertical is-4">
                        <div class="tile is-child">
                            <div class="field">{{ form.voornaam|bulma }}</div>
                            <div class="field">{{ form.familienaam|bulma }}</div>
                            <div class="field">{{ form.geslacht|bulma }}</div>
                        </div>
                    </div>
                    <div class="tile is-parent is-4 is-vertical">
                        <div class="tile is-child">
                            <div class="field">{{ form.geboortedatum|bulma }}</div>
                            <div class="field">{{ form.lidnummer_vbl|bulma }}</div>
                            <div class="field">{{ form.familieleden|bulma }}</div>
                        </div>
                    </div>
                    <div class="tile is-parent is-4 is-vertical">
                        <div class="tile is-child">
                            <div class="field">{{ form.sportief_lid|bulma }}</div>
                            <div class="field">{{ form.betalend_lid|bulma }}</div>
                            <div class="field">{{ form.gescheiden_ouders|bulma }}</div>
                            <div class="field">{{ form.facturatie|bulma }}</div>
                            <div class="field">{{ form.afbetaling|bulma }}</div>
                            <div class="field">{{ form.actief_lid|bulma }}</div>
                        </div>
                        <div class="tile is-child">
                            <div class="field">{{ form.vader|bulma }}</div>
                            <div class="field">{{ form.moeder|bulma }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Functies, Adres en Contactgegevens -->
        <div class="tile box is-ancestor">
            <div class="tile is-4">
                <div class="tile is-vertical is-12">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="mb-3">
                                <h4 class="title is-3">
                                    <em class="fas fa-user-friends"></em>
                                    Functies
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-horizontal">
                        <div class="tile is-parent is-vertical is-12">
                            <div class="tile is-child">
                                <div class="field">{{ form.functies|bulma }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-4">
                <div class="tile is-vertical is-12">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="mb-3">
                                <h4 class="title is-3">
                                    <em class="fas fa-map-pin"></em>
                                    Adres
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-horizontal">
                        <div class="tile is-parent is-vertical is-12">
                            <div class="tile is-child">
                                <div class="field">{{ form.straatnaam_en_huisnummer|bulma }}</div>
                                <div class="field">{{ form.postcode|bulma }}</div>
                                <div class="field">{{ form.gemeente|bulma }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-4">
                <div class="tile is-vertical is-12">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <div class="mb-3">
                                <h4 class="title is-3">
                                    <em class="fas fa-map-pin"></em>
                                    Contactgegevens
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-horizontal">
                        <div class="tile is-parent is-vertical is-12">
                            <div class="tile is-child">
                                <div class="field">{{ form.gsmnummer|bulma }}</div>
                                <div class="field">{{ form.email|bulma }}</div>
                                <div class="field">{{ form.rekeningnummer|bulma }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Extra informatie -->
        <div class="tile box is-ancestor">
            <div class="tile is-vertical is-12">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="mb-3">
                            <h4 class="title is-3">
                                <em class="fas fa-signature"></em>
                                Extra informatie
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-12">
                    <div class="tile is-child">
                        {{ form.extra_informatie|bulma }}
                    </div>
                </div>
                <div class="tile is-parent is-12">
                    <div class="tile is-child">
                        <div class="control">
                            <button type="submit" class="save button is-success is-light">
                                Opslaan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Modal -->
    <div class="modal fade"
         id="ouderModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="ouderModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ouderModalLabel">
                        Nieuwe Ouder
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">U+00D7</span>
                    </button>
                </div>
                <form action="{% url 'management:new_ouder' %}"
                      method="post"
                      id="ouder-form">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ ouderform|bootstrap }}
                        <input type="hidden" name="next" value="{{ request.path }}"/>
                        <input type="hidden" name="lid_form" value="{{ form.fields }}"/>
                        <button type="submit" class="btn btn-success">
                            Opslaan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
