{% extends "base.html" %}

{% load bootstrap %}

{% block title %}
Ploeglijst
{% endblock title %}

{% block content %}
<div class="col-6">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Ploeg</th>
            </tr>
        </thead>
        <tbody>
            {% for ploeg in ploeg_list %}
                <tr>
                    <td>{{ploeg.naam}}</td>
                    <td><a class="btn btn-secondary" href="{% url 'management:ploeg_view' ploeg.ploeg_id %}">Bekijk</a></td>
                    <td><a class="btn btn-warning" href="{% url 'management:ploeg_select' ploeg.ploeg_id %}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-6">
    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#ploegModal">
        Nieuwe Ploeg
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="ploegModal" tabindex="-1" role="dialog" aria-labelledby="ploegModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="ploegModalLabel">Nieuwe Ploeg</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form action="{% url 'management:new_ploeg' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ploegForm|bootstrap}}
                    <input type="hidden" name="next" value="{{request.path}}">
                    <button type="submit" class="btn btn-success">Opslaan</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}