{% extends "base.html" %}
{% load reactor %}
{% load static %}
{% block title %}
Ploegsamenstelling: {{object.naam}}
{% endblock title %}
{% block content %}
<article class="message">
    <div class="message-header">
        <p>Overzicht: {{object.naam}}</p>
    </div>
    <div class="message-body">
        <p>Hier zie je een overzicht van de ploeg {{object.naam}}. Bij ieder lid kan je door op het oogje te klikken
            verdere gegevens bekijken.</p>
        <p>Met behulp van onderstaande knoppen kan je ook exports genereren. De correctheid van geëxporteerde lijsten
            kan echter niet meer gegarandeerd worden, dus gelieve deze niet langdurig te gebruiken</p>
    </div>
</article>
<div class="level">
    <div class="level-item has-text-centered">
        <a class="btn btn-secondary btn-sm" href="{% url 'management:ploeg_export_csv' object.ploeg_id %}">Exporteer
            naar CSV</a>
    </div>
    <div class="level-item has-text-centered">
        <a class="btn btn-secondary btn-sm" href="{% url 'management:ploeg_export_xlsx' object.ploeg_id %}">Exporteer
            naar Excel</a>
    </div>
</div>
<table class="table is-bordered">
    <thead>
    <tr>
        <th>Naam</th>
        <th>Email</th>
        <th>Gsm</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="is-selected">
        <th colspan="4" class="is-4 has-text-centered">Spelers</th>
    </tr>
    {% for lid in ploegleden %}
    <tr>
        <th>{{lid.voornaam}} {{lid.familienaam}}</th>
        <th>{{lid.email}}</th>
        <th>{{lid.gsmnummer}}</th>
        <th>
            <button type="button" class="view-modal btn btn-sm btn-primary"
                    data-id="{% url 'management:lid_modal' lid.pk %}">
                <span class="fa fa-eye"></span>
            </button>
        </th>
    </tr>
    {% endfor %}
    <tr class="is-selected">
        <th colspan="4" class="is-4 has-text-centered">Coaches</th>
    </tr>
    {% for coach in coaches %}
    <tr>
        <th>{{coach.voornaam}} {{coach.familienaam}}</th>
        <th>{{coach.email}}</th>
        <th>{{coach.gsmnummer}}</th>
        <th>
            <button type="button" class="view-modal btn btn-sm btn-primary"
                    data-id="{% url 'management:lid_modal' coach.pk %}">
                <span class="fa fa-eye"></span>
            </button>
        </th>
    </tr>
    {% endfor %}
    <tr class="is-selected">
        <th colspan="4" class="is-4 has-text-centered">Ploegverantwoordelijken</th>
    </tr>
    {% for pv in pvn %}
    <tr>
        <th>{{pv.voornaam}} {{pv.familienaam}}</th>
        <th>{{pv.email}}</th>
        <th>{{pv.gsmnummer}}</th>
        <th>
            <button type="button" class="view-modal btn btn-sm btn-primary"
                    data-id="{% url 'management:lid_modal' pv.pk %}">
                <span class="fa fa-eye"></span>
            </button>
        </th>
    </tr>
    {% endfor %}
    <tr class="is-selected">
        <th colspan="4" class="is-4 has-text-centered">Helpende Handen</th>
    </tr>
    {% for hh in hhn %}
    <tr>
        <th>{{hh.voornaam}} {{hh.familienaam}}</th>
        <th>{{hh.email}}</th>
        <th>{{hh.gsmnummer}}</th>
        <th>
            <button type="button" class="view-modal btn btn-sm btn-primary"
                    data-id="{% url 'management:lid_modal' hh.pk %}">
                <span class="fa fa-eye"></span>
            </button>
        </th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block modals %}
<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-card"></div>
    <button id="closeModal" class="modal-close is-large"></button>
</div>
{% endblock %}

{% block customscripts %}
<script src="{% static 'management/js/modal.js'%}"></script>
<script src="{% static 'management/js/toggle.js' %}"></script>
{% endblock %}