{% extends "base.html" %}

{% load static %}
{% load render_table from django_tables2 %}
{% load bulma_tags %}

{% block title %}
Ploeglijst
{% endblock title %}

{% block content %}
<article class="message">
    <div class="message-header">
        <p>Ploegoverzicht</p>
    </div>
    <div class="message-body">
        Een overzicht van de ploegen. Zorg ervoor dat het correcte seizoen geselecteerd is voor je verder werkt.
        Van hieruit kan je de verschillende ploegen bekijken en eventueel bewerken. Om te exporteren: selecteer de
        ploegen
        waar de gegevens van nodig zijn en klik op exporteer. Vervolgens kan je de benodigde gegevens selecteren en
        exporteren naar XLSX.
    </div>
</article>
<div class="level">
    <div class="level-item has-text-centered">
        <button type="button" class="btn btn-success view-modal">
            Nieuwe Ploeg
        </button>
    </div>
    <div class="level-item has-text-centered">
        <button type="submit" form="ploegtable" class="btn btn-warning" id="export">
            Exporteer
        </button>
    </div>
</div>
<div class="box">
    <form action="{% url 'management:exporteer_ploeg_preview' %}" method="post" id="ploegtable">
        {% csrf_token %}
        {% render_table table %}
    </form>
</div>
{% endblock %}

{% block modals %}
<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-card" role="document">
        <div class="modal-card-head">
            <h3 class="modal-card-title">Nieuwe Ploeg</h3>
            <button class="delete modal-close-inside" aria-label="close"></button>
        </div>
        <section class="modal-card-body">
            <div class="content">
                <form action="{% url 'management:new_ploeg' %}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ploegForm|bulma}}
                        <input type="hidden" name="next" value="{{request.path}}">
                        <button type="submit" class="btn btn-success">Opslaan</button>
                    </div>
                </form>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="btn btn-default modal-close-inside"></button>
        </footer>
    </div>
</div>
{% endblock %}

{% block customscripts %}
<script src="{% static 'management/js/toggle.js' %}"></script>
<script src="{% static 'management/js/modal.js' %}"></script>
<script src="{% static 'management/js/bulma.js' %}"></script>
{% endblock %}