.clickable {
  cursor: pointer;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}

tr.is-selected {
  background-color: #000000 !important;
}

.custom-file-input {
  cursor: pointer;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.table-wrap {
  height: 600px;
  overflow-y: auto;
}

dl.two-columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

a {
  text-decoration: none !important;
}

#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
  overflow: visible;
}